AddType text/x-component .htc

RewriteEngine On
RewriteBase /

RewriteRule ^usage/$ usage.php [L]
RewriteRule ^typography/$ typography.php [L]
RewriteRule ^grid/$ grid.php [L]

RewriteRule ^usage$ usage.php [L]
RewriteRule ^typography$ typography.php [L]
RewriteRule ^grid$ grid.php [L]