@charset "UTF-8";


.icon-th-list:before { content: '\2630'; } /* '☰' */
.icon-th:before { content: '\268f'; } /* '⚏' */
.icon-back-alt:before { content: '\e707'; } /* '' */
.icon-code:before { content: '\e714'; } /* '' */
.icon-vcard:before { content: '\e722'; } /* '' */
.icon-install:before { content: '\e778'; } /* '' */
.icon-github:before { content: '\f308'; } /* '' */
.icon-picture:before { content: '🌄'; } /* '\1f304' */