/**
 * Responsable Grid System
 *
 * Setting up a responsive grid based on Semantic GS
 *
 * @author Abban Dunne http://abandon.ie
 * @version 1.0
 */

/* ========================================================== */
/* = Site Variables                                         = */
/* ========================================================== */

/* Grid options */
@gutter_width: 40px; // Your gutter width
@columns: 12; // The amount of columns you want
@max_width: 1048px; // Set a maximum width of the site

/**
 * Baseline
 * 
 * Common settings for this:
 * 
 * 100% for 16px font and 24px baseline.
 * 
 * 75% for 12px font and 18px baseline.
 * 
 */
@baseline: 100%;

/* Font variables */
@body_color: #333;
@heading_color: #111;

@body_family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Sans-Serif;
@heading_family: "PT Sans Narrow", "Helvetica Neue", Arial, Helvetica, Sans-Serif;

/* Link colors */
@link: #4d7c45;
@link_hover: #6bac60;

/* Select colors */
@select: #6bac60;
@select_color: #fff;

/* Default Colors */
@grey_light: #ddd;
@grey_regular: #ccc;
@grey_dark: #666;

@green: #6bac60;
@dark: #333;

/* ========================================================== */
/* = Import normalize baseline and grid                    = */
/* ========================================================== */

@import "normalize-baseline.less";
@import "grid.less";
@import "ui.less";
@import "icons.less";

/* ========================================================== */
/* = Your custom styles go here                             = */
/* ========================================================== */

body{
	background: url(../images/bg.png)  0 2px;
}

div#container{
	.row();
	background:#fff;
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
	-ms-box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}

header#worlds_birth{
	background:url(../images/arches.png);
	.grid-clearfix();
	border-bottom: 4px solid @green;
	padding: 0 @gutter_width*0.5;
	>div#logo{
		width:336px;
		float:left;
		padding: 0 @gutter_width*0.5;
		>figure{
			float:left;
			width: 60px;
			height: 4.5em;
			background:@green;
		}
		>a{
			.column(3, @gutter_width*0.5, 4);
			font-family:@heading_family;
			line-height: 1.8em;
			font-size: 40px;
			font-weight:bold;
			color:@body_color;
			&:hover, &:focus{
				color:@link;
			}
		}
		>p{
			.column(4, 0, 4);
			font-size:14px;
		}
	}
	>nav{
		float:right;
		padding: 0 @gutter_width*0.5;
		font-weight: bold;
		line-height: 4.5em;
		ul{
			float:right;
			li{
				display:inline;
				padding-left: 24px;
				a{
					color:@green;
					&:hover, &:focus{
						color:@link;
					}
				}
			}
			li.download{
				a{
					background: @green;
					color:#fff;
					padding: 0 8px;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					-ms-border-radius: 3px;
					border-radius: 3px;
					&:hover, &:focus{
						background:@link;
					}
				}
			}
		}
	}
	>div#blurb{
		.column(12);
		text-align:center;
		padding-top: 3em;
		padding-bottom: 3em;
		h1{
			font-size:38px;
		}
	}
	>div#cta{
		.column(12);
		.push(3);
		.pull(3);
		>div{
			.column(3, @gutter_width*0.5, 6);
			line-height: 3em;
			margin-bottom: -1.6em;
			>a{
				display:block;
			}
		}
	}
}

#content{
	.grid-clearfix();
	padding: 3em @gutter_width*0.5;
	background: #fff;
	border-bottom: 4px solid @green;
	>section#features{
		header{
			.column(12);
			margin-bottom: 1.5em;
		}
		>div{
			.column(4);
			margin-bottom: 1.5em;
			>span{
				.column(1, @gutter_width*0.5, 4);
				font-size: 50px;
				color:@grey_light;

				-webkit-transition:all .2s linear;
			    -moz-transition:all .2s linear;
			    -o-transition:all .2s linear;
			    transition:all .2s linear;
			}
			>div{
				.column(3, @gutter_width*0.5, 4);
			}
			&:hover, &:focus{
				>span{
					color:@green;
				}
			}
		}
		>div.break_three{
			clear:both;
		}
	}
	>section#page{
		.column(12);
		.push(2);
		.pull(2);
	}

	>section#typography{
		.column(8);
		background:url(../images/baseline.png);
		*width: 660px;
	}
	>aside#typography_sidebar{
		.column(4);
		background:url(../images/baseline.png);
		*width: 330px;
	}

	section#one,
	section#two,
	section#three,
	section#four,
	section#five,
	section#six,
	section#seven,
	section#eight,
	section#nine,
	section#ten,
	section#eleven,
	section#thirds,
	section#quarters,
	section#sixths,
	section#twelfths{
		background:#ccc;
		.grid-clearfix();
		div{
			background: @green;
			height: 3em;
			margin-bottom: 1.5em;
			//border: @gutter_width*0.5 solid #ddd;
			border-top:0;
			border-bottom:0;
		}
	}
	section#one,
	section#two,
	section#three,
	section#four,
	section#five,
	section#six,
	section#seven,
	section#eight,
	section#nine,
	section#ten,
	section#eleven{
		div:last-child{
			background:#eee;
		}
	}
	section#one{
		>div:first-child{.column(1);}
		>div:last-child{.column(11);}
	}
	section#two{
		>div:first-child{.column(2);}
		>div:last-child{.column(10);}
	}
	section#three{
		>div:first-child{.column(3);}
		>div:last-child{.column(9);}
	}
	section#four{
		>div:first-child{.column(4);}
		>div:last-child{.column(8);}
	}
	section#five{
		>div:first-child{.column(5);}
		>div:last-child{.column(7);}
	}
	section#six{
		>div:first-child{.column(6);}
		>div:last-child{.column(6);}
	}
	section#seven{
		>div:first-child{.column(7);}
		>div:last-child{.column(5);}
	}
	section#eight{
		>div:first-child{.column(8);}
		>div:last-child{.column(4);}
	}
	section#nine{
		>div:first-child{.column(9);}
		>div:last-child{.column(3);}
	}
	section#ten{
		>div:first-child{.column(10);}
		>div:last-child{.column(2);}
	}
	section#eleven{
		div{margin-bottom:0;}
		>div:first-child{.column(11);}
		>div:last-child{.column(1);}
	}
	section#thirds{
		>div{.column(4);}
	}
	section#quarters{
		>div{.column(3);}
	}
	section#sixths{
		>div{.column(2);}
	}
	section#twelfths{
		>div{.column(1);}
	}
}

footer#worlds_end{
	.grid-clearfix();
	padding: 1.5em @gutter_width*0.5;
	background:url(../images/arches.png);
	font-size:small;
	div#license{
		.column(7);
	}
	div#contact{
		.column(5);
		text-align:right;
	}
}

@media screen and (max-width: 1000px){
	#content{
		section#one, section#twelfths, section#eleven{
			display:none;
		}
	}
}

@media screen and (max-width: 950px){
	footer#worlds_end{
		div#license{
			.column(12);
		}
		div#contact{
			.column(12);
			text-align:left;
		}
	}
}
@media screen and (max-width: 880px){
	header#worlds_birth{
		>div#logo{
			margin:0 auto;
			float:none;
		}
		>nav{
			.column(12);
			line-height: 1.5em;
			ul{
				float:none;
				text-align:center;
			}
		}
		>div#cta{
			.column(12);
			.push(1);
			.pull(1);
		}
	}
	#content{
		>section#page{
			.column(12);
			.push();
			.pull();
		}
		>section#features{
			>div{
				.column(6);
			}
			>div.break_two{
				clear:both;
			}
			>div.break_three{
				clear:none;
			}
		}
		>section#typography{
			.column(12);
		}
		>aside#typography_sidebar{
			.column(12, 0);
				>h2{
					.column(12);
					padding-top: 0.25em;
				    margin-bottom: 0.5em;
				}
				div#lists{
					>div{
						.column(4);
					}
					ul, ol{
						padding-left: 10%;
					}
				}
				>div:last-child{
					.column(12, 0);
					>h2{
						.column(12);
						padding-top: 0.25em;
					    margin-bottom: 0.5em;
					}
					>div{
						.column(6);
					}
				}
		}
	}
}

@media screen and (max-width: 620px){
	header#worlds_birth{
		>nav{
			ul{
				li{
					padding-left: 10px;
				}
				li.download{
					a{
						display:block;
						margin: 1.5em 0 0;
						padding: .75em 0;
					}
				}
			}
		}
		>div#blurb{
			padding-top: 1.5em;
			padding-bottom: 1,5em;
			h1{
				font-size:28px;
			}
		}
		>div#cta{
			.column(12);
			.push(0);
			.pull(0);
			>div{
				>a{
					span{
						display:none;
					}
				}
			}
		}
	}
	#content{
		>section#features{
			>div{
				.column(12);
			}
		}
	}
}

@media screen and (max-width: 520px){
	header#worlds_birth{
		>div#cta{
			>div{
				>a{
					font-size: 16px;
				}
			}
		}
	}
	#content{
		>section#page{
			.column(12);
			.push(0);
			.pull(0);
		}
		>section#features{
			>div{
				.column(12);
			}
		}
		>aside#typography_sidebar{
			div#lists{
				>div{
					.column(12);
				}
			}
			>div:last-child{
				>h2{
					.column(12);
					padding-top: 0.25em;
				    margin-bottom: 0.5em;
				}
				>div{
					.column(12);
				}
				p{
					margin-bottom:0;
				}
				div:last-child p{
					margin-bottom: 1.5em;
				}
			}
		}
		section#two, section#sixths, section#ten{
			display:none;
		}
	}
}

@media screen and (max-width: 460px){
	#content{
		section#one,
		section#two,
		section#three,
		section#four,
		section#five,
		section#six,
		section#seven,
		section#eight,
		section#nine,
		section#ten,
		section#eleven,
		section#thirds,
		section#quarters,
		section#sixths,
		section#twelfths{
			div{
				border: 10px solid #ddd;
				border-top:0;
				border-bottom:0;
			}
		}
	}
}

